/***************************/
/********** Fonts **********/
/***************************/
@font-face {
  font-family: "Mona Sans";
  font-stretch: 75% 125%;
  font-weight: 200 900;
  src: url("/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/fonts/Mona-Sans.woff2") format("woff2-variations");
}

/**************************/
/********** Tags **********/
/**************************/
:root {
  background-color: #16161d;

  color: #dcd7ba;
  font-family: "Mona Sans", Arial, sans-serif;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-stretch: 100%;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

a {
  color: #dcd7ba;
  text-decoration: none;
}

a:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #dcd7ba;
  content: "";
  transition: 300ms;
}

a:hover:after {
  width: 100%;
}

body {
  height: 100vh;
  margin: 0;
}

body:has(menu:not(.hidden)) {
  overflow: hidden;
}

li {
  width: fit-content;
}

menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

section {
  margin-block: 64px;
}

a svg {
  width: 64px;
  color: #dcd7ba;
}

/**************************/
/********** Menu **********/
/**************************/
#open-menu-button {
  position: absolute;
  top: 72px;
  right: 72px;
  width: 72px;
  height: 72px;
  border: 2px solid #dcd7ba;
  border-radius: 36px;
  backdrop-filter: blur(2px);
  cursor: pointer;
  transition: 300ms;
}

#open-menu-button:hover {
  top: 60px;
  right: 60px;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  background-color: #dcd7ba;
  transition: 300ms;
}

#close-menu-button {
  position: absolute;
  top: 72px;
  right: 72px;
  width: 72px;
  height: 72px;
  cursor: pointer;
}

#close-menu-button span {
  position: absolute;
  left: 36px;
  width: 4px;
  height: 72px;
  border-radius: 2px;
  background-color: #16161d;
}

#close-menu-button span:first-child {
  transform: rotate(45deg);
}

#close-menu-button span:last-child {
  transform: rotate(-45deg);
}

.navigation-button {
  border: none;
  background: none;
  color: #16161d;
  cursor: pointer;
}

.navigation-button:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #161616;
  content: "";
  transition: 300ms;
}

.navigation-button:hover:after {
  width: 100%;
}

#animation-layer {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/*****************************/
/********** General **********/
/*****************************/

#app {
  height: 100%;
}

#content {
  height: 100%;
  overflow-y: auto;
}

#wrapper {
  margin-inline: 72px;
}

.big-font {
  font-family: "Mona Sans", Arial, sans-serif;
  font-size: 80px;
  font-stretch: 125%;
  font-weight: 900;
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

.icon-group {
  display: flex;
  gap: 24px;
}

.page {
  max-width: 992px;
  margin-block: 192px;
  margin-inline: auto;
  text-align: justify;
}

.page h1:first-child:after {
  display: block;
  width: 100%;
  height: 8px;
  content: "";
}

.bullet {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
  background-color: #dcd7ba;
  margin-inline-end: 0.8rem;
  transform: rotate(45deg);
  transition: background-color 2s;
  vertical-align: middle;
}

/***********************************/
/********** Page specific **********/
/***********************************/
#home a:after,
#home h1:first-child:after {
  background-image: linear-gradient(90deg, #98bb6c, #7aa89f, #7fb4ca 75%);
}

#home svg {
  border-radius: 8px;
  background-color: #dcd7ba;
  color: #16161d;
}

#about a:after,
#about h1:first-child:after {
  background-image: linear-gradient(90deg, #957fb8, #ffa066, #ff9e3b 75%);
}

#contact {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  margin-block: 0;
}

#contact .big-font {
  margin-block-start: 192px;
}

#contact a:after,
#contact h1:first-child:after {
  background-image: linear-gradient(90deg, #e46876, #d27e99, #7e9cd8 75%);
}

#contact section {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***********************************/
/********** Media queries **********/
/***********************************/
@media (max-width: 992px) {
  :root {
    font-size: 21px;
  }
  #wrapper {
    margin-inline: 60px;
  }
  .big-font {
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 20px;
  }
  #wrapper {
    margin-inline: 48px;
  }
  .big-font {
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  :root {
    font-size: 19px;
  }
  #wrapper {
    margin-inline: 36px;
  }
  .big-font {
    font-size: 45px;
  }
}
