/*******************************************************************/
/* PROJECT PAGES ***************************************************/
/*******************************************************************/
.bg {
  background-color: $light;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  div {
    background-position: center;
    background-size: cover;
    height: calc(100% - 20vh);
    margin: 10vh 10vw;
    opacity: 0.33;
    width: calc(100% - 20vw);
  }
}

#container-eli-chat,
#container-code-playground,
#container-zahras-portfolio {
  section {
    border: 1px solid lightgray;
    border-left: none;
    width: 70%;
    .section-padding-top {
      padding-top: 5vh;
    }
    .section-padding-bottom {
      padding-bottom: 5vh;
    }
    .section-content {
      h1 {
        text-align: center;
      }
      img {
        border: 1px solid lightgrey;
        border-radius: 5px;
        height: calc(100% - 5vh);
        margin-bottom: 5vh;
        width: 100%;
      }
      a {
        word-break: break-word;
      }
      .desktop-img {
        width: 100%;
      }
      .mobile-img {
        width: 30%;
      }
    }
  }
  section:first-child,
  section:last-child {
    align-items: center;
    display: flex;
    height: 50vh;
    div,
    a {
      text-align: center;
    }
    p {
      font-size: 1em;
      margin: 0;
    }
  }
  section:nth-child(3) p {
    text-align: justify;
  }
  .separator {
    border: none;
    height: 40vh;
  }
}

#eli-chat-bg div {
  background-image: url('../../assets/img/eli-chat/eli-chat.png');
}

#container-eli-chat section:nth-child(7) div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#code-playground-bg div {
  background-image: url('../../assets/img/code-playground/code-playground.png');
}

#zahras-portfolio-bg div {
  background-image: url('../../assets/img/zahras-portfolio/zahras-portfolio.jpg');
}

#container-zahras-portfolio section:nth-child(11) div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1199.98px) {
  #container-eli-chat,
  #container-code-playground,
  #container-zahras-portfolio {
    section {
      width: 80%;
    }
  }
}

@media (max-width: 991.98px) {
  #container-eli-chat,
  #container-code-playground,
  #container-zahras-portfolio {
    section {
      width: 85%;
    }
  }
}

@media (max-width: 767.98px) {
  #container-eli-chat,
  #container-code-playground,
  #container-zahras-portfolio {
    section {
      width: calc(100% - 1px);
      .section-content .mobile-img {
        width: 45%;
      }
    }
  }
}

@media (orientation: portrait) {
  #container-eli-chat,
  #container-code-playground,
  #container-zahras-portfolio {
    section:first-child,
    section:last-child {
      height: 33.33vh;
    }
  }
}
